.modalContainer {
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: width 0.3s ease-in-out;
  z-index: 9999;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: white;
}

.modalTitle {
  align-self: flex-start;
  font-size: 14px;
  padding: 0px 0px 10px 10px;
  border-bottom: 3px solid blue;
  width: 90%;
}

.modalForm {
  margin-top: 30px;
  color: #384a5c;
  align-self: flex-start;
  padding: 0px 0px 10px 10px;
}

.modalLabel {
  margin-bottom: 20px;
  margin-top: 20px;
}

.modalInput {
  width: 180%;
  outline: none;
  border: none;
  border-bottom: 1px solid #384a5c;
  margin-top: 10px;
  color: #384a5c;
}

.modalSelect {
  width: 180%;
  margin-top: 10px;
  border: none;
  border-bottom: 1px solid #384a5c;
  outline: none;
  color: #384a5c;
}

.modalButtons {
  border-top: 1px solid #384a5c;
  width: 90%;
  align-self: flex-start;
  margin-top: auto;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
  padding: 0px 0px 10px 10px;
}

.modalImage {
  margin-top: 20px;
  border: 1px solid #b2b2b2;
  border-radius: 50%;
  display: flex;
  width: 35%;
  height: 20%;
}

.openModalButton {
  margin-top: 20px;
}

.denyModalButton {
  margin-top: 20px;
  border: 1px solid #b2b2b2;
  padding: 5px 10px 5px 10px;
  margin-top: 20px;
  color: black;
  background-color: white;
  cursor: pointer;
  transition: 0.1s;
}

.saveModalButton {
  border: #b2b2b2;
  padding: 5px 10px 5px 10px;
  margin-top: 20px;
  color: white;
  background-color: #862583;
  cursor: pointer;
  transition: 0.1s;
}

.denyModalButton:hover {
  transform: scale(1.025);
}

.denyModalButton:active {
  transform: scale(0.9);
}

.saveModalButton:hover {
  transform: scale(1.025);
}

.saveModalButton:active {
  transform: scale(0.9);
}
