body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: #f5f8fa;
}

.h1 {
  font-size: 20px;
  text-align: center;
  margin: 30px auto 30px 0;
  color: #333;
  font-weight: 500;
}

.mainContainer {
  display: grid;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  max-width: 1180px;
  background-color: #f5f8fa;
  gap: 10px;
}

.mainContainer__list {
  grid-area: 1 / 1 / 3 / 3;
  background-color: white;
  height: 250px;
  border-color: #b2b2b2;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.mainContainer__table {
  grid-area: 1 / 3 / 3 / 7;
  background-color: white;
  height: 250px;
  border-color: #b2b2b2;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.mainContainer__product {
  grid-area: 3 / 1 / 5 / 3;
  background-color: white;
  height: 250px;
  border-color: #b2b2b2;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.mainContainer__product--2 {
  grid-area: 3 / 3 / 5 / 5;
  background-color: white;
  height: 250px;
  border-color: #b2b2b2;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
.mainContainer__product--3 {
  grid-area: 3 / 5 / 5 / 7;
  background-color: white;
  height: 250px;
  border-color: #b2b2b2;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}
