.mainContainer__list--header {
  color: #333;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
}

.mainContainer__product {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #333;
  font-weight: bold;
}

.mainContainer__product--2 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #333;
  font-weight: bold;
}

.mainContainer__product--3 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #333;
  font-weight: bold;
}

.content {
  text-align: center;
}

.content .content__title {
  text-align: left;
  margin: 0 0 15px;
  font-size: 14px;
}

.content .content__image {
  display: block;
  margin: 0 auto;
}

.content .content__promoPrice {
  text-align: center;
  color: #333;
  font-weight: bold;
}

.content .content__price {
  text-align: center;
  text-decoration: line-through;
}

.ribbon-container {
  position: relative;
  display: inline-block;
}

.ribbon {
  position: absolute;
  top: -5%;
  right: -4%;
  background-color: black;
  color: white;
  padding: 2% 4%;
  font-size: 1.2vw;
  font-weight: bold;
  border-radius: 2vw;
}

.discount-percentage {
  position: relative;
  z-index: 1;
}
