.content {
  display: flex;
}

.content__title {
  text-align: left;
  margin: 0 0 15px;
  font-size: 14px;
}

.content__price {
  text-align: center;
  color: #333;
  font-weight: bold;
}

.content__promoPrice {
  text-align: center;
  text-decoration: line-through;
}

.ribbon-container {
  position: relative;
  display: inline-block;
}

.ribbon {
  position: absolute;
  top: -5%;
  right: -4%;
  background-color: black;
  color: white;
  padding: 2% 4%;
  border-radius: 10px;
  text-align: center;
}

.discount-percentage {
  position: relative;
  z-index: 1;
}

.tile {
  display: flex;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 10px;

  @media (max-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.tileRendered {
  padding: 20px;
  background-color: white;
  border-color: #b2b2b2;
  border-radius: 10px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  cursor: pointer;
  width: 100%;
}

.tile img {
  display: block;
  margin: auto;
  width: 35%;
}
