.inputContainer__input {
  width: 80%;
  border: none;
  outline: none;
}

.mainContainer__list-inputContainer {
  position: absolute;
  width: 90%;
  margin-top: 20px;
  bottom: 0;
  margin-bottom: 20px;
}

.inputContainer__button {
  border: none;
  background: none;
  cursor: pointer;
  transition: 0.2s;
}

.inputContainer__button:hover {
  transform: scale(2);
}

.inputContainer__button:active {
  transform: scale(1.5);
}
