.inputContainer__input {
  width: 80%;
  border: none;
  outline: none;
}

.mainContainer__form {
  padding: 10px;
}

.form__inputContainer {
  position: absolute;
  width: 90%;
  bottom: 0;
  margin-bottom: 20px;
}

.inputContainer__button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  transition: 0.2s;
}

.inputContainer__button:hover {
  transform: scale(2);
}

.inputContainer__button:active {
  transform: scale(1.5);
}

.mainContainer__ul {
  color: #384a5c;
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.mainContainer__li {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
  border-bottom: 1px solid #384a5c;
  padding: 10px;
}

.mainContainer__li--done {
  text-decoration: line-through;
}

.li__content {
  display: flex;
}

.ul__checkbox {
  flex-shrink: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #384a5c;
  cursor: pointer;
}
